.wrapper {
  width: 100%;
  height: 100vh;
  top: 50px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.slide::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.img {
  width: 100%;
  height: 100%;
  background-position: center;
}

.content {
  position: absolute;
  bottom: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.content p {
  font-size: 20px;
  font-weight: 500;
}
.content h2 {
  font-size: 35px;
  font-weight: 600;
}
.content span {
  color: rgb(228, 160, 3);
}
