h1{
    background-color: tomato;
    color:rgba(250,250,0,1);
    /* border: 2px solid black; */
    opacity: 1;
    background-image: url(./download\ -\ 2025-12-02T121200.496.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: black;
    border-width: 5px;
    border-style: dotted dashed solid double;
    text-align: center;
    text-decoration: line-through red solid 3px;
    
}
p{
    text-align: justify;
    text-indent: 35px;
    letter-spacing: 5px;
    line-height: 35px;
    text-shadow: -5px -5px 2px rgb(23, 145, 186),5px 5px 2px red;
    background-color: black;
    color: white;
}
.div1{
    background-color: orange;
    height: 1000px;
    width: 100px;
    display: inline-block;
    text-align: center;
    
}
.div2{
    background-color: hotpink;
    height: 100px;
    width: 100px;
    display: inline-block;
    text-align: center;
    position: relative;
    
}
.div2_1{
    background-color: aqua;
    position:absolute;
    /* top: 30px;
    left:30px;
    */
}
.div2_2{
    background-color: rgb(255, 136, 0);
   left: 30px;
}
.div3{
    background-color: blue;
    display: inline-block;
    position: fixed;
    bottom: 5px;
    right: 5px;

}
.div4{
    background-color: rgb(255, 128, 0);
    display: inline-block;
    position: sticky;
    top: 20px;


}