.box{
    background-color: hotpink;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    height: 100px;
    align-self: start;
  
}
.c1{
    background-color: aqua;
      width: 50px;
}
.c2{
    background-color: rgb(137, 223, 26);
      width: 50px;
}
.c3{
    background-color: rgb(0, 47, 255);
      width: 50px;
}
.c4{
    background-color: rgb(255, 153, 0);
      width: 50px;
}