.box{
    background-color: hotpink;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    height: 100px;
    align-items: center;

  
}
.c1{
    background-color: aqua;
      flex-basis: 50px;
       order: 1;
       align-self: start;
}
.c2{
    background-color: rgb(137, 223, 26);
    flex-basis: 50px;
    order: 2;
    align-self:center;
}
.c3{
    background-color: rgb(0, 47, 255);
   flex-basis: 50px;
    order: 3;
   align-self:self-end;
}
.c4{
    background-color: rgb(255, 153, 0);
     flex-basis: 50px;
     order: 4;
     align-self: stretch;
     flex-shrink: 2;
}