body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.display input{
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
  align-self: center;
  font-size: 14px;
}

.first{
  background-color: rgb(198, 153, 240);
  width: 100%;
  height:100vh;
  display: flex;
  justify-content:space-evenly;
   align-items: center;
   
}
.second{
  background-color: rgb(75, 73, 73);
  border-radius: 5px;
}
.first-btn{
  padding: 20px;
  border-radius: 50px;
  color: rgb(241, 233, 233);
  background-color: rgb(48, 47, 47);
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
}
.first-btnO{
  padding: 20px;
  border-radius: 100px;
  color: rgb(241, 233, 233);
  background-color: rgb(233, 127, 40);
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
}

.first-equal{
  padding: 20px;
  border-radius: 50px;
  color: rgb(241, 233, 233);
  background-color: rgb(233, 127, 40);
  margin: 5px;
  font-size: 20px;
  font-weight: bold;

}


.secondCal{
  display: flex;
 justify-content:right;
  background-color: rgb(41, 40, 40);
  width: 100%;
  height: 100vh;
  align-items: center;
}
.second-btn{
  background-color: rgb(231, 199, 158);
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
align-self: center;
}
.second-btnac{
 background-color: rgb(231, 199, 158);
  color: black;
  padding: 10px 100px 10px ;
}
.secondCalDis input{
background-color: blanchedalmond;
border-radius: 5px;
font-size: 16px;
padding: 10px;
}
.secondCalDisR input {
background-color: blanchedalmond;
border-radius: 5px;
font-size: 16px;
padding: 10px;
color: aliceblue;
}