body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.img-wrapper{
    display: flex;
    gap: 12px;
    width: 420px;
    height: 260px;
    margin: auto;
    position: relative;
}
.img {
    width: 100%;
    display: block;
    position: absolute;
    background-image: url(../public/photo_2026-01-13_12-13-34.jpg);
    background-size: cover;
    background-position: center;
}
.img-left{
  border-radius: 140px 140px 20px 20px;
   position: absolute;
   
}
.img-right{
  border-radius: 140px 140px 20px 20px;
  position: absolute;
  
}
.img-wrapper {
  position: relative;
  width: 400px;
}

.main-img {
  width: 100%;
  display: block;
}
.section{
  padding: 80px 10%;
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-right: 30px;

}
.section-title{
   
  font-size: 30px;
}
.section-title span{
  color: #9d7e54;
}
.section-head{
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin: 50px 50px;
    
}
.cards p{
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    padding: 20px;
    border: 1px solid #9d7e54;
    border-radius: 25px;
    font-size: 35px;
    line-height: 35 px;
    font-family: 'poppins';
    text-align: center;
    font-weight: 700;
    background-color: rgb(240, 237, 233);
}
.cards p span{
  font-size: 12px;
  display: block;
  
}
.section-p{
  font-size: 15px;
}