.home-page{
 
  background:linear-gradient(to right,rgba(126, 120, 120, 1),rgba(44, 1, 1, 1));
  background-position: center;
  color: white;
  border-radius: 20px;
  height: auto;
  position:fixed;
  padding: 15px;
  width: 95%;

}

.hero{
   background-color:rgba(58, 35, 35, 0.3);
  background-size: contain;
  background-position: center;
   color: white;
  border-radius: 20px;
  height: 100vh;
 display: flex;
 justify-content: space-around;
 align-items: center;


}
.header{
 display: flex;
 justify-content: space-around;
 align-items:center;
 z-index: 500px;

 top: 0;

}
.logo{
    font-weight: 700;
    font-size: 20px;
    width: 200px;
    transition: 0.5s;

}
.logo:hover{
    text-shadow: 1px 1px white;
}

 .header-link{
    color: white;
    text-decoration: none;
    margin: 20px;
    border-bottom: 2px solid transparent;
    transition: .5s;
}
.header-link:hover{
  text-decoration: underline;
 text-shadow: 0 0 10px white;
}
.icon {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 10px;
  color: black;
  font-size: 32px;
  display: none;
}
.icons{
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 10px;
  color: black;
  font-size: 32px;
  display: none; 
}
.dropDown{
  z-index: 100;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  background-color:rgba(155, 139, 139,0.8);
  transition: 0.2s linear;
}
.dropDown a{
  color: white;
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 15px 0;
}


.hero{
  display: flex;
  justify-content: center;
  align-items: center;
}
.img{
  height: 300px;
  width: 400px;
  /* object-fit: contain; */
  border-radius:80%;
  box-shadow: 0 0 10px white;
 transition: 0,5s;
}
.img:hover{
contain:url(../public/photos/photo_2025-12-23_20-44-03.jpg);
}
.contact-socail{
  display: flex;
  gap: 50px;
   align-items: center;
 
}

.contact-link{
  text-decoration: none;
color:black;
padding: 15px;
border:2px solid rgb(243, 242, 242);
border-radius: 20px;
background-color:white;
box-shadow: 0 0 10px white;
transition: 0.5s;
font-size: 16px;
font-weight: 600;
}
 .contact-link:hover{
  background: transparent;
  box-shadow: none;
  color: white;
}
 .socal a{
  text-decoration:none;
  color: white;
  font-size: 20px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 5px;
  transition: 0.5s;
 }
 .socal a:hover{
  background: white;
box-shadow: 0 0 10px white;
color: black;
 }
 .case-continer{
   background-color:rgba(14, 13, 13, 0.7);
  background-size: contain;
  background-position: center;
   color: white;
  border-radius: 20px;
  height: 100vh;
  margin: 50px;
 display: flex;
 justify-content: space-around;
 align-items: center;

 } 
 
 .tools{
    border: 2px solid white;
  box-shadow: 0 0 10px white ;
   display:flex;
   align-items: center;
   padding: 5px;
   gap:20px;
   margin: 10px;
   height: 300px;
  flex-direction: column;
 }
 .tools-linkss{
  border: 2px solid white;
  border-radius: 10px;
  padding: 8px;
  margin: 5px;
  box-shadow: 0 0 10px white;
}
 .tools-linkss:hover{
   background: white;
   box-shadow: 0 0 10px white;
   color: black;
   font-weight:600;
 }
 .Project-box{
    background-color:rgba(14, 13, 13, 0.8);
  background-size: contain;
  background-position: center;
   color: white;
  border-radius: 20px;
  height: 100vh;
 display:flex;
 flex-direction: column;
 justify-content:center;
 align-items: center;
 }
 .projectOne{
  display: flex;
  justify-content: center;
  align-self: center;
  border: 1px solid white;
  border-radius: 10px;
  width:500px;
  height: 180px;
 }
 .projectOne:hover{
  box-shadow: 0 0 10px white;
 }

 .projectOne img{
  width: 200px;
  margin: 10px;

 }
 .projectTwo{
 display: flex;
  justify-content: center;
  align-self: center;
  border: 1px solid white;
  margin: 10px;
  width:500px;
  border-radius: 10px; 
 }
 .projectTwo img{
  width: 300px;
  margin: 10px;
 }
 .projectTwo:hover{
  box-shadow: 0 0 10px white;
 }
 .projectThree{
  display: flex;
  justify-content: center;
  align-self: center;
  border: 1px solid white;
  margin: 10px;
  width:500px;
  border-radius: 10px;
 }
 .projectThree img{
   width: 200px;
  
 }
 .projectThree:hover{
  box-shadow: 0 0 10px white;
  
 }
 .footer{
    background-color:rgba(14, 13, 13, 0.8);
  background-size: contain;
  background-position: center;
   color: white;
  border-radius: 20px;
  height: 100vh;
  margin: 20px;
  display:flex;
  align-items: center;
 justify-content: center;
 
 
 }
 .footer-box2 form{
  display: flex;
  flex-direction: column;
  margin: 20px;
 }
 .footer-box2 input{
  background-color: rgb(110, 109, 109);
  font-size: 16px;
  height: 30px;
 }
 .footer-box3{
 background-color: rgb(110, 109, 109);
  font-size: 16px;
 }
 .date{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  bottom: 0;
 }