.book-boxx {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.hearder-book h2 {
  font-weight: 200;
  font-style: italic;
}

.hearder-book h1 {
  font-weight: 600;
}
.rounting {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 15px;
}
.rounting a {
  border: 1px solid;
  text-decoration: none;
  color: white;
  padding: 15px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 400;
}
.book-header {
  text-align: center;
}
.book-header h1 {
  font-weight: 200;
  font-size: 25px;
  margin-bottom: 5px;
}
.hearder-book p {
  margin-bottom: 20px;
  font-weight: 100;
  font-size: 5px;
}
.book-continer {
  display: flex;
  align-items: center;
  margin: 30px 20px;
  justify-content: center;
  gap: 30px;
}
.book-continer img {
  border-radius: 20px;
  width: 500px;
  height: 300px;
}
.book-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.book-box form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.book-box input {
  padding: 15px;
  border-radius: 10px;
  width: 300px;
}
.counter {
  display: flex;
  align-items: center;
  gap: 12px;
}

.counter button {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  border: none;
  background: #e5e7eb;
  cursor: pointer;
  font-size: 18px;
}

.counter button.plus {
  background: #10b981;
  color: white;
}
.book-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.book-btn1 {
  margin-top: 20px;
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  background: #7fb7a3;
  font-weight: bold;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  transition: 0.1s;
}
.book-btn2 {
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  font-weight: 200;
  font-size: 15px;
  cursor: pointer;
  transition: 0.1s;
}

.book-btn1:hover {
  background-color: transparent;
  box-shadow: 0 0 10px white;
  color: rgb(228, 167, 13);
  font-weight: 700;
  border: 2px solid black;
}
.book2 {
  color: white;
}
.book-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-top: 20px;
}
.book-card form {
  display: flex;
  flex-direction: column;
}
.book-card input {
  padding: 15px;
  border-radius: 10px;
  width: 300px;
}
.book-btnn {
  display: block;
  margin-top: 20px;
  margin-left: 600px;
}
.final-Booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 50px;
  gap: 20px;
}
.final-Booking img {
  border-radius: 30px;
}
