.footer-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid;
  color: white;
  background-color: #7fb7a3;
  margin: 0px;
  padding: 20px;
  height: 250px;
  border-radius: 50px;
}
.footer-logo h2 {
  color: rgb(235, 234, 231);
  font-weight: 200;
  font-style: italic;
}
.footer-logo h1 {
  color: rgb(243, 241, 234);
  font-weight: 700;
  margin-bottom: 15px;
}
.address {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-navigation-link {
  display: flex;
  flex-direction: column;
}
.footer-navigation-link h3 {
  margin-bottom: 18px;
}
.footer-navigation-link a {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}
.footer-newletter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
}

.footer-newletter input {
  margin-top: 8px;
  padding: 15px;
  border-radius: 10px;
  width: 400px;
}
.footer-newletter button {
  margin-top: 0px;
  width: 100px;
  align-self: self-end;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: rgb(14, 14, 44);
  color: white;
  font-weight: bold;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  transition: 0.1s;
}
