*{
    margin: 0;
    background-color:#F5F7FA;
}
.header-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 84px;   
}
.logo-img{
    width: 154px;
    gap: 8px;
   
}
.header-linkFirst{
    display: flex;
    gap: 50px;
    width: 588px;
}
.header-link{
    color:#18191F;
    text-decoration: none;
    align-items: center;
}
.header-right{
    display: flex;
    align-items: center;
    gap:14px ;
    height: 52px;
}
.login-btn{
    color: #4CAF4F;
    text-decoration:none;
    padding: 10px 20px;
    border-radius: 6px;
    gap: 10px;
}
.btn{
 color:#FFFFFF;
 background-color:#4CAF4F ;
    text-decoration:none;
    padding: 10px 20px;
    border-radius: 6px;
    gap: 10px;

}
.hero-box{
    display: flex;
    padding: 96px 144px;
    gap: 104px;
    align-items: center;
    background-color: #F5F7FA;
}
.hero-left{
order: 2;
}
.hero-right{
    display: flex;
    flex-direction: column;
    gap:32px;
}
.title-first{
    font-size: 64px;
    color: #4D4D4D;
    width: 627px;
}
span{
    color: #4CAF4F;
}
.hero-p{
    color: #717171;
    font-size: 16px;
}
.register-btn{
    text-decoration: none;
    color: white;
    background-color: #4CAF4F;
    align-self: self-start;
    padding: 14px 32px;
    gap: 10px;
    border-radius: 4px;
  
}
.inlineBox-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.inlineBox-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inlineTitle{
    font-size: 36px;
}
.inline-p{
    font-size: 16px;
    color: #717171;
    align-items: center;
}