.nav-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  /* background: linear-gradient(
    rgb(228, 226, 221),
    rgb(233, 212, 172),
    rgb(226, 184, 105)
  ); */
  position: fixed;
  z-index: 1000px;
  top: 0;
}
.nav-first::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, transparent, rgb(240, 196, 132));
  z-index: -1;
}
.nav-logo {
  width: 50px;
  height: 50px;
}
.nav-link {
  text-decoration: none;
  color: rgb(10, 10, 10);
  margin: 15px;
  font-weight: 500;
  gap: 30px;
}

.nav-link:hover {
  color: rgb(228, 160, 3);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.nav-btn button {
  height: 45px;
  width: 110px;
  font-size: 16px;
  font-weight: 600;
  color: brown;
  border: 1px solid rgb(243, 236, 236);
  background-color: transparent;
  border-radius: 8px;

  transition: 0.1s;
}
.nav-btn button:hover {
  box-shadow: 0px 0px 20px rgb(238, 220, 187);
  border-color: black;
  transform: scale(0.9s);
  cursor: pointer;
}
.nav-btn {
  display: flex;
  gap: 20px;
  align-items: center;
}
#bar {
  border: none;
  background-color: rgb(230, 140, 37);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.1s;
  display: none;
}
#bar:hover {
  box-shadow: 0px 0px 20px rgb(238, 220, 187);
  border-color: black;
  transform: scale(0.9s);
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  #bar {
    display: flex;
  }
  .nav-first a {
    display: block;
    margin: 5px 0;
    padding: 25px 0;
    padding-left: 15%;
    border-bottom: 1px solid;
  }
  .nav-first {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 244, 0.2);
    backdrop-filter: blur(8px);
  }
}
