.nav-first {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  color: white;
  background-color: rgba(241, 226, 188, 0.9);
  margin-bottom: 20px;
}
.nav-logo h2 {
  font-weight: 200;
  font-style: italic;
  /* margin-bottom: 20px; */
}
.nav-logo h1 {
  font-weight: 600;
}
.nav-links a {
  text-decoration: none;
  color: white;
  margin: 0 20px;
  font-weight: 600;
  font-size: 18px;
  transition: 0.1s;
}
.nav-links a:hover {
  background-color: rgb(163, 212, 212);
  border: 1px solid;
  border-radius: 15px;
  font-weight: 600;
  padding: 4px;
}
.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-btn button {
  padding: 12px 30px;
  font-weight: 600;
  gap: 5px;
  color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: 0.1s;
  justify-content: center;
  background-color: rgb(192, 236, 236);
}
.nav-btn button:hover {
  background-color: transparent;
  color:rgb(14, 14, 44);
  font-weight: 600;
  border: 1px solid white;
  box-shadow: 0 0 10px rgb(14, 14, 44);
}
.nav-btn i {
  font-size: 22px;
}
