.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Page background and full height */
.app-container {
  background-color: #ffffff; /* bg-white */
  min-height: 100vh; /* min-h-screen */
  color: #000000;
  font-family: sans-serif;
}

/* Flex container for sidebar + main content */
.dashboard-container {
  display: flex;
  width: 100%;
}

/* Main content area next to sidebar */
.main-content {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 32px; /* my-8 */
  margin-bottom: 32px; 
  color: #000000;
}
