.section {
  display: flex;
  justify-content: center;
  color: white;
  margin: 50px;
}
.picture {
  width: 350px;
  height: 300px;
  border-radius: 15px;
  margin-right: 20px;
  box-shadow: 0 0 10px #7fb7a3;
}
.about-content p {
  font-size: 16px;
  font-weight: 100;
}
.section-title {
  margin-bottom: 15px;
  font-style: italic;
  font-weight: 100;
}
