.servicesContainer {
  max-width: 1200px;
  margin: 50px;
  padding: 30px 20px;
  text-align: center;
  background-color: #0e1432;
  color: white;
}

.servicesContainer h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.servicesContainer p {
  font-size: 0.9rem;
  margin-bottom: 25px;
  opacity: 0.8;
}

.servicesGrid {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  column-gap: 50px;
  row-gap: 50px;
  justify-content: center;
}
.img-activity img {
  width: 300px;
  height: 200px;
}

.serviceCard {
  background: #1a1f3c;
  padding: 5px;
  border-radius: 15px;
  width: 150px;
  text-align: center;
  transition: transform 0.2s;
}

.serviceCard:hover {
  transform: scale(1.05);
}

.serviceCard img {
  width: 250px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.serviceCard p {
  font-size: 0.85rem;
  margin: 0;
}
