body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.listColor{
  background-color: aquamarine;
}
.btn{
  background-color: green;
  color: aliceblue;
  margin: 5px;
  padding: 5px;
}
.btn1{
  background-color: rgb(225, 228, 225);
  color: rgb(8, 125, 228);
  margin: 5px;
}
.colorFro{
 text-align: center;
 color: blue;
}
.title{
  font-size: 32px;
  text-decoration: underline ;
  
}
.form{
  display: flex;
  justify-content: center;

}
.formI{
  background-color: antiquewhite;
}
